.button {
    background: #AC1313;
    border-radius: 0px;
    padding: 20px 30px;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    transition: 0.3s;

    &:hover:hover{
        opacity: 0.8;
    }
    &:hover:active{
        opacity: 0.4;
    }
}