.header{
    background: #FFFFFF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
    padding-top: 34px;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        flex-shrink: 0;
        transition: 0.3s;
    }
    &__logo:hover{
        opacity: 0.8;
    }
    &__logo:active{
        opacity: 0.4;
    }
}