.product{
    padding-bottom: 120px;
    &__tittle{
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 68px;
        text-align: center; 
        color: #AC1313;
        padding-bottom: 8px;
    }
    &__heading{
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        color: #000000;
        padding-bottom: 60px;
    }
    &__img{
        padding-bottom: 30px;
    }
    
    &__list{
        display: flex;
        align-items: center;
        list-style-type: none;
        
    }
    &__item + &__item{
        padding-left: 151px;
    }
    
    
    
    &__box-list{
        padding-top: 90px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__box-item &__box-item{
        margin-left: 141px;
    }
    &__body{
        max-width: 500px;
    }
    
    &__box-heading{
        font-weight: 700;
        font-size: 29px;
        line-height: 36px;
        color: #000000;
    }
    &__desc{
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #6C6C6C;
    }
}